name: Build Novaler Kernel 5.15.5
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Cache Compiler
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-ccache-${{ github.sha }}
          restore-keys: ${{ runner.os }}-ccache-

      - name: Dependencies
        run: sudo apt update && sudo apt install -y gcc-arm-linux-gnueabihf u-boot-tools libssl-dev bc bison flex make ccache

      - name: Get Kernel 5.15.5
        run: |
          wget https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.15.5.tar.xz
          tar -xf linux-5.15.5.tar.xz
          mv linux-5.15.5 source

      - name: Inject Novaler Files
        run: |
          cp arch/arm/boot/dts/hisilicon/* source/arch/arm/boot/dts/
          cp arch/arm/configs/novaler4k_defconfig source/arch/arm/configs/
          echo 'dtb-$(CONFIG_ARCH_HISI) += hi3798mv200-novaler4k.dtb' >> source/arch/arm/boot/dts/Makefile

      - name: Compile
        run: |
          cd source
          export ARCH=arm
          export CROSS_COMPILE="ccache arm-linux-gnueabihf-"
          make novaler4k_defconfig
          make -j$(nproc) uImage dtbs
          # Organizing for Enigma2-style Recovery Flash
          mkdir -p recovery/novaler
          cp arch/arm/boot/uImage recovery/novaler/
          cp arch/arm/boot/dts/hi3798mv200-novaler4k.dtb recovery/novaler/

      - name: Upload Recovery Image
        uses: actions/upload-artifact@v4
        with:
          name: Novaler-Recovery-Flash
          path: source/recovery/
